.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: Cabinet Grotesk, sans-serif;
}

.header__logo {
  margin-right: 24px;
}
.header__date-and-location {
  margin: 0;
}
.header__add-clothes-btn {
  margin: 0 0 0 auto;
  border: none;
  cursor: pointer;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 16px; /* space between toggle and button */
  margin-left: auto; /* push actions to the right */
}
.toggle-switch {
  margin: 0;
}
.header__user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header__user-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.header__username {
  margin: 0;
}
